@using Domains.DTO;
@model ComplexObjectDTO
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul class="tree">

        <!-- Root node (Category) -->
        <li>
            <div class="sticky">CustomerServiceDepartment <br />(@Model.CustomerServiceDepartment.Employees сотрудников)</div>
            <ul>
                <!-- Sub category -->
                <li>
                    <div class="sticky">
                        SalesDepartment<br />
                        (@CheckForNumber((@Model.CustomerServiceDepartment.SalesDepartment.Employees))
                    </div>
                    <ul>
                        <li>
                            <div class="sticky">
                                <a class="child" asp-controller="Home"
                                   asp-action="IncreaseNumberOfEmployees"
                                   asp-route-department="RetailSalesDepartment">
                                    RetailSalesDepartment<br />
                                    (@CheckForNumber(@Model.CustomerServiceDepartment.SalesDepartment.RetailSalesDepartment.Employees))
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sticky">
                                <a class="child" asp-controller="Home"
                                   asp-action="IncreaseNumberOfEmployees"
                                   asp-route-department="WholesaleSalesDepartment">
                                    WholesaleSalesDepartment<br />
                                    (@CheckForNumber(@Model.CustomerServiceDepartment.SalesDepartment.WholesaleSalesDepartment.Employees))
                                </a>

                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="sticky">
                        LogisticsDepartment<br />
                        (@CheckForNumber(@Model.CustomerServiceDepartment.LogisticsDepartment.Employees))
                    </div>
                    <ul>
                        <li>
                            <div class="sticky">
                                <a class="child" asp-controller="Home"
                                   asp-action="IncreaseNumberOfEmployees"
                                   asp-route-department="DeliveryDepartment">
                                    DeliveryDepartment<br />
                                    (@CheckForNumber(@Model.CustomerServiceDepartment.LogisticsDepartment.DeliveryDepartment.Employees))
                                </a>

                            </div>
                        </li>
                        <li>
                            <div class="sticky">
                                <a class="child" asp-controller="Home"
                                   asp-action="IncreaseNumberOfEmployees"
                                   asp-route-department="StorageDepartment">
                                    StorageDepartment<br />
                                    (@CheckForNumber(@Model.CustomerServiceDepartment.LogisticsDepartment.StorageDepartment.Employees))
                                </a>

                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> <!-- Second level node -->
        <li>
            <div class="sticky">
                ProductionDepartment<br />
                (@CheckForNumber(@Model.ProductionDepartment.Employees))
            </div>
            <ul>
                <!-- Sub category -->
                <li>
                    <div class="sticky">
                        <a class="child" asp-controller="Home"
                           asp-action="IncreaseNumberOfEmployees"
                           asp-route-department="EngineeringDepartment">
                            EngineeringDepartment<br />
                            (@CheckForNumber(@Model.ProductionDepartment.EngineeringDepartment.Employees))
                        </a>
                    </div>
                </li>
                <li>
                    <div class="sticky">
                        <a class="child" asp-controller="Home"
                           asp-action="IncreaseNumberOfEmployees"
                           asp-route-department="PurchasingDepartment">
                            PurchasingDepartment<br />
                            (@CheckForNumber(@Model.ProductionDepartment.PurchasingDepartment.Employees))
                        </a>

                    </div>
                </li>
                <li>
                    <div class="sticky">
                        <a class="child" asp-controller="Home"
                           asp-action="IncreaseNumberOfEmployees"
                           asp-route-department="QualityControlDepartment">
                            QualityControlDepartment<br />
                            (@CheckForNumber(@Model.ProductionDepartment.QualityControlDepartment.Employees))
                        </a>

                    </div>
                </li>
            </ul>
        </li> <!-- Second level node -->
        <li>
            <div class="sticky">
                <a class="child" asp-controller="Home"
                   asp-action="IncreaseNumberOfEmployees"
                   asp-route-department="AccountingDepartment">
                    AccountingDepartment<br />
                    (@CheckForNumber(@Model.AccountingDepartment.Employees))
                </a>

            </div>
        </li>
    </ul>
</div>

@{
    string CheckForNumber(int value)
    {
        if (value > 1)
        {
            return $"{value} сотрудников";
        }
        else return $"{value} сотрудник";

    }
}
